// Colors
$primary: #6f32b5;
$secondary: #4270c2;

// Fonts
$font-family-base: "Poppins", Arial, Helvetica, Verdana, sans-serif;

// Buttons
$btn-padding-x: 20px;
$btn-padding-y: 10px;

// Navbar
$navbar-light-toggler-border-color: transparent;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
